@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

:root {
  --color-primary: #D80C3D;
  --color-secondary: #ba9545;
  --color-grey-extra-light: #FCFCFC;
  --color-grey-lighter: #ddd;
  --color-grey-light: #7a7a7a;
  --color-black-lighter: #1d1d1d;
  --color-black: #000000;
  --color-white: #ffffff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'PT serif', serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-black-lighter); }

.heading--primary {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 3.2rem;
  font-weight: 700; }

.heading--secondary {
  font-family: 'Frank Ruhl Libre', serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .2rem;
  font-weight: 500; }

.heading--tertiary {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 2rem;
  font-weight: 500; }

.paragraph--small {
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: var(--color-grey-light); }

.paragraph--hero {
  font-weight: 500;
  line-height: 1.8; }

.link-info {
  cursor: pointer;
  text-decoration: none; }
  .link-info--small:link, .link-info--small:visited {
    font-style: italic;
    font-size: 1.4rem;
    color: var(--color-grey-light);
    transition: all .2s; }
  .link-info--small:hover {
    color: var(--color-secondary); }
  .link-info--small--sm:link, .link-info--small--sm:visited {
    font-size: 1.2rem; }
  .link-info--normal {
    display: block;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Frank Ruhl Libre', serif;
    transition: all .2s; }
    .link-info--normal:hover {
      color: var(--color-secondary); }
  .link-info--category:link, .link-info--category:visited {
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.3rem;
    font-family: 'Fjalla One', serif;
    color: var(--color-primary);
    letter-spacing: .2rem; }
  .link-info--category--small:link, .link-info--category--small:visited {
    font-size: 1.1rem;
    letter-spacing: .1rem; }

.text-italics {
  font-style: italic !important; }

.text-color-primary {
  color: var(--color-secondary) !important; }

.text-bold {
  font-weight: bold !important; }

.margin-bottom-extra-small {
  margin-bottom: 2rem !important; }

.margin-bottom-small {
  margin-bottom: 3rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }

.margin-bottom-large {
  margin-bottom: 6rem !important; }

.margin-top-medium {
  margin-top: 6rem !important; }

.hide {
  display: none; }

.container {
  display: grid;
  grid-template-rows: minmax(95vh, min-content) repeat(2, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 13.7rem) [col-end]) [center-end] 1fr [full-end];
  grid-row-gap: 5rem; }

.header {
  grid-row: 1/2;
  grid-column: center-start / center-end;
  position: relative; }
  .header__scroll-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.navigation {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  .navigation__logo {
    height: 3rem; }

.hero-box {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .hero-box__msg {
    flex: 1;
    padding-right: 4rem; }
  .hero-box__hero {
    flex-basis: 45%;
    overflow: hidden; }
  .hero-box__img {
    height: 55rem;
    background-size: cover; }

.cta {
  width: 100%;
  list-style: none;
  display: block; }
  .cta__item {
    display: inline-block;
    margin-right: 3rem; }

.topics {
  grid-row: 2/3;
  grid-column: center-start/center-end; }
  .topics__search-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    .topics__search-bar--filters {
      flex: 1;
      margin-left: 4rem;
      display: flex;
      justify-content: space-between; }
  .topics__search-box {
    flex-basis: 65%; }
  .topics__view {
    display: flex;
    align-items: flex-start; }

.topic-list {
  list-style: none;
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.topic-map {
  width: 100%;
  height: 50rem;
  animation: fadeInBottom 2s;
  position: relative; }

.topic-stats {
  animation: fadeInRight 3s;
  margin-left: 4rem;
  flex: 1; }
  .topic-stats__title {
    font-family: 'Fjalla One', serif;
    font-size: 1.7rem;
    letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-black); }
  .topic-stats__list {
    list-style: none; }

.topic-cards {
  animation: fadeInLeft 2s; }

.add-topic__btn {
  width: 100%;
  text-align: center; }

.footer {
  grid-row: 3/-1;
  grid-column: full-start/full-end;
  background-color: var(--color-black-lighter);
  padding: 5rem 5rem;
  text-align: center;
  color: var(--color-grey-light);
  font-size: 1.3rem;
  font-weight: lighter; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  letter-spacing: .1rem; }

.btn--fill {
  position: relative; }
  .btn--fill::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: all .3s .1s ease-in;
    z-index: -1; }
  .btn--fill:hover, .btn--fill:active {
    color: var(--color-white); }
    .btn--fill:hover::after, .btn--fill:active::after {
      transform: scaleX(1); }

.btn--pink {
  border: 2px solid var(--color-primary);
  color: var(--color-primary); }
  .btn--pink::after {
    background-color: var(--color-primary); }
  .btn--pink--filled {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all .3s; }
    .btn--pink--filled:hover {
      background-color: #f32456;
      border: 2px solid #f32456; }
    .btn--pink--filled:active {
      background-color: #a8092f;
      border: 2px solid #a8092f; }

.btn--brown {
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary); }
  .btn--brown::after {
    background-color: var(--color-secondary); }
  .btn--brown--filled {
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: all .3s; }
    .btn--brown--filled:hover {
      background-color: #c8aa6a;
      border: 2px solid #c8aa6a; }
    .btn--brown--filled:active {
      background-color: #957737;
      border: 2px solid #957737; }

.btn__icon {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
  fill: var(--color-white); }

.btn-black, .btn-black:link, .btn-black:visited {
  color: var(--color-white);
  background-color: var(--color-black);
  transition: all .2s ease; }

.btn-black:hover, .btn-black:active {
  background-color: var(--color-secondary); }

.topic {
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 3px 0;
  display: flex;
  flex-direction: column; }
  .topic > * {
    padding: 1.5rem 3rem; }
  .topic__info {
    display: flex;
    justify-content: space-between; }
    .topic__info--basics > *,
    .topic__info--reports > * {
      display: inline-block; }
      .topic__info--basics > *:not(:last-child),
      .topic__info--reports > *:not(:last-child) {
        margin-right: .6rem; }
    .topic__info--location {
      position: relative;
      padding-left: 2.6rem; }
      .topic__info--location::after {
        content: '';
        position: absolute;
        left: 0;
        top: 45%;
        width: 1.4rem;
        margin: 0 0.4rem;
        border-top: 1px solid var(--color-black-lighter); }
    .topic__info--category {
      position: relative;
      padding-left: 4rem; }
      .topic__info--category::after {
        content: '';
        position: absolute;
        left: 0;
        top: 45%;
        width: 3rem;
        margin: 0 0.4rem;
        border-top: 1px solid var(--color-secondary); }
    .topic__info--report-count {
      font-style: normal; }
  .topic__img {
    padding: 0;
    width: 100%;
    height: 30rem;
    object-fit: cover; }
  .topic__title > a:link, .topic__title > a:visited {
    text-decoration: none;
    color: inherit;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 3rem;
    font-weight: 400; }
  .topic__title > a:hover {
    color: var(--color-secondary); }
  .topic__description {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--color-grey-light); }
  .topic__read-more {
    display: inline-block; }
  .topic__tags {
    list-style: none; }
    .topic__tags--item {
      display: inline-block; }
      .topic__tags--item:not(:last-child) {
        margin-top: 1.2rem;
        margin-right: 1.2rem; }
  .topic__author {
    text-align: right; }

.sm-card {
  display: flex;
  padding-bottom: .5rem;
  padding-top: .5rem; }
  .sm-card:not(:last-child) {
    margin-bottom: 3rem; }
  .sm-card__rank {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--color-secondary); }
  .sm-card__img {
    height: 10rem;
    width: 10rem;
    object-fit: cover; }
  .sm-card__info {
    margin-left: 1.5rem; }
  .sm-card__main {
    margin-bottom: 2rem; }
  .sm-card__link {
    display: block; }
  .sm-card__category {
    margin-bottom: 1rem; }

.dropdown {
  display: inline-block;
  cursor: pointer;
  position: relative; }
  .dropdown__text {
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    border: 1px solid var(--color-grey-lighter);
    position: relative;
    background-color: var(--color-white); }
  .dropdown__icon {
    display: inline-block;
    margin-left: 1.3rem;
    width: 1.2rem;
    height: 1.2rem; }
  .dropdown__menu {
    display: none;
    list-style: none;
    background-color: var(--color-black);
    position: absolute;
    top: 4.4rem;
    max-height: 40rem;
    width: 28rem;
    overflow: auto; }
    .dropdown__menu--left {
      left: 0; }
    .dropdown__menu--right {
      right: 0; }
  .dropdown__item a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.7rem;
    padding: 0 2.5rem;
    border: 1px solid transparent; }
    .dropdown__item a:hover {
      color: var(--color-secondary);
      background-color: var(--color-white);
      border: 1px solid var(--color-secondary); }
    .dropdown__item a span {
      display: block;
      padding: 2rem 0; }
  .dropdown__item:not(:last-child) a > span {
    border-bottom: 1px solid var(--color-black-lighter); }

.categories-dropdown:hover .categories-dropdown__menu {
  display: block; }

.tags-dropdown:hover .tags-dropdown__menu {
  display: block; }

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.marker {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute; }
  .marker::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(1); }
  .marker--default::after {
    background-color: #ba9545;
    box-shadow: 0 0 0 0 #ba9545;
    animation: pulse--default 2s infinite; }
  .marker--trending {
    width: 1.5rem;
    height: 1.5rem; }
    .marker--trending::after {
      background-color: #D80C3D;
      box-shadow: 0 0 0 0 #d80c3d;
      animation: pulse--trending 2s infinite; }
  .marker--cluster--20 {
    width: 2.5rem;
    height: 2.5rem; }
  .marker--cluster--50 {
    width: 3rem;
    height: 3rem; }
  .marker--cluster--100 {
    width: 3.5rem;
    height: 3.5rem; }
  .marker--cluster--500 {
    width: 4rem;
    height: 4rem; }
  .marker--cluster--1000 {
    width: 4.5rem;
    height: 4.5rem; }
  .marker--cluster--10000 {
    width: 5rem;
    height: 5rem; }
  .marker--cluster--inf {
    width: 6rem;
    height: 6rem; }
  .marker--cluster span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    color: var(--color-secondary);
    z-index: 10; }
  .marker--cluster::after {
    background-color: #000000;
    box-shadow: 0 0 0 0 black;
    animation: pulse--cluster 2s infinite; }

@keyframes pulse--default {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(186, 149, 69, 0.7); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 1rem rgba(186, 149, 69, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(186, 149, 69, 0); } }

@keyframes pulse--trending {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 12, 61, 0.8); }
  80% {
    transform: scale(1);
    box-shadow: 0 0 0 1rem rgba(216, 12, 61, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(216, 12, 61, 0); } }

@keyframes pulse--cluster {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8); }
  80% {
    transform: scale(1);
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }

.topic-popup {
  width: 34rem; }
  .topic-popup > .topic-card--small {
    justify-content: space-between; }

.mapboxgl-popup-content {
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 3px 0;
  max-height: 23rem;
  overflow-y: scroll; }

.mapboxgl-popup-close-button {
  top: .5rem;
  right: .6rem;
  font-size: 1.5rem;
  color: var(--color-secondary); }
  .mapboxgl-popup-close-button:hover {
    transform: scale(1.01);
    color: #a8092f; }

.mapboxgl-canvas {
  left: 0; }

.nav {
  list-style: none; }
  .nav__item {
    display: inline-block; }
    .nav__item:not(:last-child) {
      margin-right: 2rem; }
  .nav__link {
    display: inline-block;
    padding: .8rem 2rem;
    color: var(--color-black-lighter);
    transition: all .3s;
    position: relative; }
    .nav__link:link, .nav__link:visited {
      text-decoration: none;
      font-family: 'Frank Ruhl Libre', sans-serif;
      font-size: 1.4rem;
      text-transform: uppercase; }
    .nav__link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: .2rem;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: all .3s .1s ease-in;
      background-color: var(--color-primary); }
    .nav__link--baseline:hover {
      color: var(--color-primary); }
    .nav__link--baseline:hover::after {
      transform: scaleX(1); }
    .nav__link--active {
      color: var(--color-primary); }
      .nav__link--active::after {
        transform: scaleX(1); }
    .nav__link--cta {
      border: 2px solid var(--color-black); }
      .nav__link--cta::after {
        height: 100%;
        z-index: -1; }
      .nav__link--cta--secondary::after {
        background-color: var(--color-secondary);
        transform-origin: right; }
      .nav__link--cta:hover {
        color: var(--color-white);
        border: 2px solid transparent; }
        .nav__link--cta:hover::after {
          transform: scaleX(1); }

.pagination {
  list-style: none;
  animation: fadeInLeft 2s; }
  .pagination__item {
    display: inline-block; }
    .pagination__item a {
      float: left;
      padding: .8rem 1.6rem;
      text-decoration: none;
      border: 1px solid var(--color-grey-lighter);
      color: var(--color-black);
      margin: 1px; }
    .pagination__item--active a {
      background-color: var(--color-black);
      border: 1px solid var(--color-black);
      color: white; }
  .pagination__item:hover:not(.pagination__item--active) a {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: white; }

.search {
  position: relative; }
  .search__input {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    border-bottom: 0.2rem solid var(--color-black-lighter);
    padding: 1.5rem;
    transition: all .3s; }
    .search__input:focus {
      border-bottom: 0.2rem solid var(--color-secondary); }
  .search__button {
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    bottom: .5rem;
    background-color: var(--color-white); }
  .search__icon {
    height: 2.5rem;
    width: 2.5rem;
    transition: all .3s; }
  .search__input:focus + .search__button .search__icon {
    fill: var(--color-secondary); }
  .search__input:focus ~ .search__quick-results {
    display: block; }
  .search__quick-results {
    display: none;
    position: absolute;
    top: 5.4rem;
    left: 0;
    width: 100%;
    max-height: 40rem;
    overflow: auto;
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.14), 0 0.2rem 0.1rem -0.1rem rgba(0, 0, 0, 0.12), 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: white; }
    .search__quick-results:active {
      display: block; }
  .search__list {
    list-style: none; }
  .search__item {
    display: block; }
    .search__item--info {
      display: inline-block;
      width: 100%;
      padding: 0 3.5rem;
      text-decoration: none;
      color: var(--color-black-lighter);
      border: 1px solid transparent;
      transition: all .3s;
      position: relative; }
      .search__item--info:hover {
        background-color: var(--color-grey-extra-light);
        color: var(--color-secondary); }
        .search__item--info:hover::after {
          transform: scaleX(1); }
      .search__item--info::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% + .2rem);
        border-bottom: 1px solid var(--color-secondary);
        border-top: 1px solid var(--color-secondary);
        background-color: transparent;
        transform: scaleX(0);
        transition: all .3s;
        z-index: 3; }
    .search__item--span {
      display: block;
      padding: 1.5rem 0;
      border-bottom: 1px solid var(--color-secondary); }
    .search__item--info:hover .search__item--span {
      border-bottom-color: transparent; }
  .search__directives {
    padding: 1.5rem 3.5rem;
    font-style: italic;
    font-size: 1.3rem;
    color: var(--color-grey-light); }

.view-switch {
  display: inline-block; }
  .view-switch__label {
    display: inline-block;
    margin-left: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 3px 0;
    cursor: pointer; }
  .view-switch__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-secondary); }
  .view-switch__input {
    display: none; }
  .view-switch__input:checked + .view-switch__label {
    background-color: var(--color-black); }
    .view-switch__input:checked + .view-switch__label__icon {
      fill: var(--color-white); }

.scroll-down {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .scroll-down__mouse {
    height: 3.5rem;
    width: 1.8rem;
    border-radius: 10rem;
    border: 0.2rem solid var(--color-black);
    display: flex; }
    .scroll-down__mouse span {
      display: block;
      height: .6rem;
      width: .6rem;
      border-radius: 50%;
      background-color: var(--color-black);
      margin: auto;
      animation: move-wheel 1s infinite; }
  .scroll-down__arrow {
    display: block;
    height: .8rem;
    width: .8rem;
    border: .2rem solid transparent;
    border-left-color: var(--color-black);
    border-bottom-color: var(--color-black);
    transform: rotate(-45deg);
    animation: arrow-blink .5s alternate infinite; }

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-0.8rem); }
  100% {
    opacity: 1;
    transform: translateY(0.5rem); } }

@keyframes arrow-blink {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }

.tag {
  display: inline-block;
  padding: .7rem 1.3rem;
  background-color: var(--color-secondary);
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.2rem;
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s; }
  .tag:hover {
    background-color: #c8aa6a; }
  .tag:active {
    background-color: #a7863e; }
