:root {
  --color-primary: #D80C3D;
  --color-primary-test: #ba9545;
  --color-black-lighter: #1d1d1d;
  --color-black: #000000;
  --color-white: #ffffff; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'PT serif', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-black-lighter); }

.heading--primary {
  font-family: 'Frank Ruhl Libre', sans-serif;
  font-size: 3.2rem;
  font-weight: 700; }

.paragraph {
  font-weight: 400; }
  .paragraph--hero {
    font-weight: 500;
    line-height: 1.8; }

.container {
  display: grid;
  grid-template-rows: minmax(95vh, min-content) repeat(2, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 13.7rem) [col-end]) [center-end] 1fr [full-end];
  grid-row-gap: 5rem; }

.topics {
  background-color: var(--color-primary); }

.footer {
  background-color: var(--color-black); }

.header {
  grid-row: 1/2;
  grid-column: center-start / center-end; }

.navigation {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between; }
  .navigation__logo {
    height: 3rem; }

.hero-box {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .hero-box__msg {
    flex: 1;
    padding-right: 3rem; }
  .hero-box__hero {
    flex-basis: 45%;
    overflow: hidden; }
  .hero-box__img {
    height: 55rem;
    background-size: cover; }

.cta {
  width: 100%;
  list-style: none;
  display: block; }
  .cta__item {
    display: inline-block;
    margin-right: 3rem; }

.topics {
  grid-row: 2/3;
  grid-column: center-start/center-end; }

.footer {
  grid-row: 3/-1;
  grid-column: full-start/full-end; }

.btn,
.btn .btn:active,
.btn .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  letter-spacing: .1rem; }

.btn--pink {
  border: 2px solid var(--color-primary);
  color: var(--color-primary); }
  .btn--pink--filled {
    background-color: var(--color-primary);
    color: var(--color-white); }

.btn--brown {
  border: 2px solid var(--color-primary-test);
  color: var(--color-primary-test); }
  .btn--brown--filled {
    background-color: var(--color-primary-test);
    color: var(--color-white); }

.nav {
  list-style: none; }
  .nav__item {
    display: inline-block; }
    .nav__item:not(:last-child) {
      margin-right: 2rem; }
  .nav__link {
    display: inline-block;
    padding: .8rem 2rem;
    color: var(--color-black-lighter);
    transition: all .3s;
    position: relative; }
    .nav__link:link, .nav__link:visited {
      text-decoration: none;
      font-family: 'Frank Ruhl Libre', sans-serif;
      font-size: 1.4rem;
      text-transform: uppercase; }
    .nav__link::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: .2rem;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: all .3s .1s ease-in;
      background-color: var(--color-primary); }
    .nav__link--baseline:hover {
      color: var(--color-primary); }
    .nav__link--baseline:hover::after {
      transform: scaleX(1); }
    .nav__link--active {
      color: var(--color-primary); }
      .nav__link--active::after {
        transform: scaleX(1); }
    .nav__link--cta {
      border: 2px solid var(--color-black); }
      .nav__link--cta::after {
        height: 100%;
        z-index: -1; }
      .nav__link--cta--secondary::after {
        background-color: var(--color-primary-test);
        transform-origin: right; }
      .nav__link--cta:hover {
        color: var(--color-white);
        border: 2px solid transparent; }
        .nav__link--cta:hover::after {
          transform: scaleX(1); }

.text-italics {
  font-style: italic !important; }

.text-color-primary {
  color: var(--color-primary-test) !important; }

.text-bold {
  font-weight: bold !important; }

.margin-bottom-small {
  margin-bottom: 3rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }
