.header {
  grid-row: 1/2;
  grid-column: center-start / center-end;
  position: relative;

  &__scroll-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.navigation {
  padding-top: 3rem;
  padding-bottom: 3rem;


  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__logo {
    height: 3rem;
  }
}

.hero-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__msg {
    flex: 1;
    padding-right: 4rem;
  }
  &__hero {
    flex-basis: 45%;
    overflow: hidden;
  }

  &__img {
    height: 55rem;
    background-size: cover;
  }
}

.cta {
  width: 100%;
  list-style: none;

  display: block;

  &__item {
    display: inline-block;

    margin-right: 3rem;
  }
}