.topics {
  grid-row: 2/4;
  grid-column: center-start/center-end;

  position: relative;

  &__search-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &--filters {
      flex: 1;
      margin-left: 4rem;
      display: flex;
      justify-content: space-between;
      & > * {
        flex: 1;
      }
    }
  }
  &__search-box {
    flex-basis: 65%;
  }

  &__view {
    display: flex;
    align-items: flex-start;
  }
}

.topic-list {
  list-style: none;
  flex-basis: 65%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topic-map {
  width: 100%;
  height: 50rem;
  animation: fadeInBottom 2s;
  position: relative;

  &__cluster-list {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 1px);
    width: 47%;
    background-color: var(--color-white);
    box-shadow: $box-shadow-normal;
    z-index: 200;
    //border: 1px solid var(--color-secondary);
    animation: fadeInBottom 2s;
    overflow-y: scroll;

    &--close {
      z-index: 250;
      position: absolute;
      top: .7rem;
      right: 1.5rem;
      font-size: 3rem;
      color: var(--color-secondary);
      transition: all .2s;
      cursor: pointer;

      &:hover {
        color: var(--color-primary);
      }
    }
    &--elements {
      margin-top: 2rem;
      padding: 1rem;
    }
  }
}

.topic-stats {
  animation: fadeInRight 3s;
  margin-left: 4rem;
  flex: 1;

  &__title {
    font-family: 'Fjalla One', serif;
    font-size: 1.7rem;
    letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase;

    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-black);
  }

  &__list {
    list-style: none;
  }
}

.topic-cards {
  animation: fadeInLeft 2s;
}

.add-topic {
  &__btn {
    width: 100%;
    text-align: center;
  }
}

.full-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1000;
}

.form-container {
  padding: 4rem 3rem 1rem;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  width: 50%;
  height: 100%;
  background-color: var(--color-white);
  box-shadow: $box-shadow-w;

  &__close {
    display: block;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    transform-origin: center;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      transform: rotate(360deg);
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: .2rem;
      background-color: var(--color-black-lighter);
      transform: rotate(45deg);
      transform-origin: center;
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
}