.topics {
  grid-row: 2/3;
  grid-column: center-start/center-end;

  &__search-bar {}
  &__view {
    display: flex;
    align-items: baseline;
  }
}

.topic-list {
  list-style: none;
  flex-basis: 65%;
}