.topics {
  grid-row: 2/3;
  grid-column: center-start/center-end;

  &__search-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &--filters {
      flex: 1;
      margin-left: 4rem;
      display: flex;
      justify-content: space-between;
    }
  }
  &__search-box {
    flex-basis: 65%;
  }

  &__view {
    display: flex;
    align-items: flex-start;
  }
}

.topic-list {
  list-style: none;
  flex-basis: 65%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topic-stats {
  margin-left: 4rem;
  flex: 1;

  &__title {
    font-family: 'Fjalla One', serif;
    font-size: 1.7rem;
    letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase;

    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-black);
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    &--img {
      height: 10rem;
      width: 10rem;
      object-fit: cover;
    }
    &--info {
      margin-left: 1.5rem;
    }

    &--link {
      display: block;
      color: inherit;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: 'Frank Ruhl Libre', serif;
      transition: all .2s;

      &:hover {
        color: var(--color-secondary);
      }
    }
    &--date {
      font-size: 1.2rem;
      font-style: italic;
      color: var(--color-grey-light);
    }
  }
}