.btn {
  &,
  .btn:link,
  .btn:visited {
    font-size: $default-font-size;
    text-decoration: none;
    display: inline-block;

    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    letter-spacing: .1rem;
  }

  &--fill {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: all .3s .1s ease-in;
      z-index: -1;
    }


    &:hover, &:active {
      color: var(--color-white);
      &::after {transform: scaleX(1);}
    }
  }


  &--pink {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

    &::after {
      background-color: var(--color-primary);
    }
    &--filled {
      background-color: var(--color-primary);
      color: var(--color-white);

      transition: all .3s;
      &:hover {
        background-color: lighten($color-primary, 10%);
        border: 2px solid lighten($color-primary, 10%);
      }
      &:active {
        background-color: darken($color-primary, 10%);
        border: 2px solid darken($color-primary, 10%);
      }
    }
  }
  &--brown {
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);

    &::after {
      background-color: var(--color-secondary);
    }
    &--filled {
      background-color: var(--color-secondary);
      color: var(--color-white);

      transition: all .3s;
      &:hover {
        background-color: lighten($color-secondary, 10%);
        border: 2px solid lighten($color-secondary, 10%);
      }
      &:active {
        background-color: darken($color-secondary, 10%);
        border: 2px solid darken($color-secondary, 10%);
      }
    }
  }
}