.search {
  flex-basis: 65%;
  position: relative;

  &__input {
    width: 100%;

    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    border-bottom: .2rem solid var(--color-black-lighter);
    padding: 1.5rem;

    transition: all .3s;

    &:focus {
      border-bottom: .2rem solid var(--color-secondary);
    }
  }
  &__button {
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    bottom: .5rem;
    background-color: var(--color-white)  ;
  }
  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    transition: all .3s;
  }
  &__input:focus + &__button &__icon {
    fill: var(--color-secondary);
  }
}