body {
  font-family: 'PT serif', serif;
  font-weight: 400;
  font-size: $default-font-size;
  color: var(--color-black-lighter);
}

.heading--primary {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 3.2rem;
  font-weight: 700;
}

.heading--secondary {
  font-family: 'Frank Ruhl Libre', serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: .2rem;
  font-weight: 500;
}

.heading--tertiary {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 2rem;
  font-weight: 500;
}

.paragraph--small {
  font-size: 1.4rem;
  line-height: 2.3rem;
  color: var(--color-grey-light);
}

.paragraph--hero {
  font-weight: 500;
  line-height: 1.8;
}

